In [2]:
import pandas as pd
import numpy as np

In [3]:
directorio_archivo = 'C://Users//Andres//Documents//GitHub//Velasco-Yepez-Andres-David-Python//deber//data/flowers.csv'

In [5]:
flores_df = pd.read_csv(directorio_archivo)

In [12]:
flores_df.iloc[0:10,:]

   sepal length  sepal width  petal length  petal width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

## Agrupar por especie de flor

In [13]:
df_agrupado = flores_df.groupby('species')

In [19]:
for nombre,grupo in df_agrupado:
    print(nombre,len(grupo))

setosa 50
versicolor 50
virginica 50

## Obtener el promedio en la longitud del petalo para cada especie de flor

In [24]:
for nombre,grupo in df_agrupado:
    petal_length_mean = grupo['petal length'].mean()
    print("{}->{}".format(nombre,petal_length_mean))

setosa->1.4620000000000002
versicolor->4.26
virginica->5.552

## Obtener el promedio en el ancho del petalo para cada especie de flor

In [25]:
for nombre,grupo in df_agrupado:
    petal_width_mean = grupo['petal width'].mean()
    print("{}->{}".format(nombre,petal_width_mean))

setosa->0.2459999999999999
versicolor->1.3259999999999998
virginica->2.026

##  Filtrar flores que tengan un ancho del petalo mayor a 2

In [46]:
condicion = lambda x: x['petal width'] > 2
arreglo = []
for nombre,grupo in df_agrupado:
    nueva_serie = grupo[condicion]
    arreglo.append(nueva_serie)
    print("{}:{}".format(nombre,len(nueva_serie)))
flores_v2_df=pd.concat(arreglo)

setosa:0
versicolor:0
virginica:23

## Generar un json con cada especie de flor con sus correspondientes anchos de petalos

In [65]:
arreglo = []
flores=[]
for nombre,grupo in df_agrupado:
    nueva_serie = grupo['petal width'].unique()
    flor = {'especie':nombre,'ancho-petalos':nueva_serie}
    flores.append(flor)
flores

[{'especie': 'setosa', 'ancho-petalos': array([0.2, 0.4, 0.3, 0.1, 0.5, 0.6])},
 {'especie': 'versicolor',
  'ancho-petalos': array([1.4, 1.5, 1.3, 1.6, 1. , 1.1, 1.8, 1.2, 1.7])},
 {'especie': 'virginica',
  'ancho-petalos': array([2.5, 1.9, 2.1, 1.8, 2.2, 1.7, 2. , 2.4, 2.3, 1.5, 1.6, 1.4])}]